.btn {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  min-height: 55px;
  max-height: 55px;
  height: 55px;
  line-height: 52px;
  padding: 0 25px;
  border: 0;
  outline: 0;
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  background: transparent;

  &.btn-success {
    color: #fff;
    background: $green;
  }

  &.btn-dropdown {
    padding-right: 80px;

    &:after {
      content: "";
      position: absolute;
      right: 30px;
      top: 45%;
      width: 12px;
      height: 7px;
      background: url('assets/images/caret-down.svg') center no-repeat;
    }
  }

  &.btn-disabled {
    font-weight: 400;
    color: $grey;
    cursor: not-allowed;
    border: solid 1px $grey;
    background: $light-grey;
  }
}
