.club-selection {
  min-height: 100vh;

  > header {
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);

    .wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      .language-dropdown {
        margin-right: 30px;
      }

      .club-count {
        font-size: 20px;
        font-weight: 100;

        strong {
          font-weight: 700;
        }
      }
    }
  }
}
