.club-selection {
  min-height: 100vh;

  > header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 85px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
}
