.induction {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  background: $blue;

  article {
    @include grid-container();
    @extend .wrap;

    h2 {
      color: #fff;
    }
  }
}
