.induction {
  @include background-image(linear-gradient(-205deg, #207DD7 5%, #4593E0 100%))
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;

  @include grid-media($mobile-grid) {
    min-height: 450px;
  }

  .earth {
    position: absolute;
    top: 25px;
    left: 5px;
    max-width: 100vw;
    z-index: 50;

    @include grid-media($mobile-grid) {
      display: none;
    }
  }

  article {
    @include grid-container();
    @include grid-column(5);
    @include grid-shift(5.5);
    @extend .wrap;
    position: relative;
    z-index: 101;
    padding-top: 110px;

    @include grid-media($mobile-grid) {
      @include grid-shift(1);
      @include grid-column(10);
      padding-top: 60px;
    }

    h2 {
      font-size: 24px;
      font-weight: 300;
      line-height: 33px;
      max-width: 350px;
      padding: 20px 0 35px;
      color: #fff;
    }

    .buttons {
      display: flex;
      align-items: center;

      @include grid-media($mobile-grid) {
        flex-direction: column;
        align-items: flex-start;
      }

      .btn-post-club {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        width: 200px;
        height: 65px;
        margin-right: 32px;
        text-align: center;
        border-radius: 5px;
        background: $green;

        @include grid-media($mobile-grid) {
          margin-bottom: 25px;
        }
      }

      .discover-clubs {
        font-size: 22px;
        font-weight: 300;
        color: #fff;
        border-bottom: solid 1px #fff;
        padding: 0 0 10px;
        background: transparent;
      }
    }
  }

  .choose-language {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: $blue;
    max-width: 220px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 100px;
    padding: 0 25px;
    border-radius: 30px;
    background: #fff;

    &:after {
      width: 29px;
      height: 29px;
      content: "";
      position: absolute;
      top: 11px;
      right: 25px;
      border-radius: 50%;
      background: $blue url('assets/images/caret-down.svg') 50% 12px no-repeat;
    }

    @keyframes grow {
      from {
        @include transform(scale(1));
      }
      to {
        @include transform(scale(1.1) translateY(-3px));
        box-shadow: 0 5px $dark-blue;
      }
    }

    &:hover {
      animation: grow 0.2s ease forwards;
    }

    @include grid-media($mobile-grid) {
      bottom: 50px;
    }
  }
}
