.language-card {
  @include grid-column(3);
  @include transition(all 0.1s ease 0s);
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  background: #fff;

  &:before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: 25%;
    left: 20px;
    border-radius: 50%;
    background: #f1f1f1;
    background-size: 100%;
    background-position: 0 0;
  }

  &.de { &:before { background: url('assets/images/codes/de.svg') } }
  &.fr { &:before { background: url('assets/images/codes/fr.svg') } }
  &.ru { &:before { background: url('assets/images/codes/ru.svg') } }
  &.it { &:before { background: url('assets/images/codes/it.svg') } }
  &.ga { &:before { background: url('assets/images/codes/ga.svg') } }
  &.da { &:before { background: url('assets/images/codes/da.svg') } }
  &.ro { &:before { background: url('assets/images/codes/ro.svg') } }
  &.uk { &:before { background: url('assets/images/codes/uk.svg') } }
  &.eo { &:before { background: url('assets/images/codes/eo.svg') } }
  &.pl { &:before { background: url('assets/images/codes/pl.svg') } }
  &.pt { &:before { background: url('assets/images/codes/pt.svg') } }
  &.sv { &:before { background: url('assets/images/codes/sv.svg') } }
  &.el { &:before { background: url('assets/images/codes/el.svg') } }
  &.cy { &:before { background: url('assets/images/codes/cy.svg') } }
  &.es { &:before { background: url('assets/images/codes/es.svg') } }
  &.vi { &:before { background: url('assets/images/codes/vi.svg') } }
  &.he { &:before { background: url('assets/images/codes/he.svg') } }
  &.tr { &:before { background: url('assets/images/codes/tr.svg') } }
  &.nl-NL { &:before { background: url('assets/images/codes/nl-NL.svg') } }
  &.no-BO { &:before { background: url('assets/images/codes/no-BO.svg') } }

  &.selected {
    background: $blue;

    &:before {
      opacity: 0;
    }

    article {
      border-color: $blue;
      padding-left: 20px;

      span {
        color: #fff !important;
      }
    }
  }

  @include grid-media($tablet-grid) {
    @include grid-column(6);
  }

  @include grid-media($mobile-grid) {
    @include grid-column(12);
  }

  article {
    height: 75px;
    max-height: 75px;
    padding: 0 20px 0 80px;
    display: flex;
    border: solid 2px #E8E8E8;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    span.name {
      font-size: 20px;
      font-weight: 700;
      padding-right: 35px;
      color: $black;
    }

    span.learners {
      font-size: 20px;
      font-weight: 100;
      text-align: right;
      color: $black;
    }
  }
}
