.language-dropdown {
  @include locale-images();
  display: inline-block;;
  padding-right: 80px;
  position: relative;
  height: 55px;
  cursor: pointer;
  border-radius: 30px;
  border: solid 2px $light-grey;
  background: transparent url('assets/images/caret-down-dark.svg') 85% 50%;
  background-repeat: no-repeat;

  &:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 20px;
    border-radius: 50%;
    background: #f1f1f1;
    background-size: 100%;
    background-position: 0 0;
  }

  .selected-language {
    font-weight: 700;
    font-size: 18px;
    position: relative;
    top: 14px;
    padding-left: 75px;
  }

  .dropdown {
    display: none;
  }
}
