.language-card {
  @include grid-column(3);
  @include transition(all 0.1s ease 0s);
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  background: #fff;

  &:before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: 25%;
    left: 20px;
    border-radius: 50%;
    background: #f1f1f1;
    background-size: 100%;
    background-position: 0 0;
  }

  $locales: (
    'de', 'fr', 'ru', 'it', 'ga', 'da', 'ro', 'uk', 'eo', 'pl', 'pt',
    'sv', 'el', 'cy', 'es', 'vi', 'he', 'tr', 'nl-NL', 'no-BO'
  );

  @each $locale in $locales {
    &.#{$locale} {
      &:before {
        background-image: url('assets/images/locales/#{$locale}.svg'); 
      }
    }
  }

  &.selected {
    background: $blue;

    &:before {
      opacity: 0;
    }

    article {
      border-color: $blue;
      padding-left: 20px;

      span {
        color: #fff !important;
      }
    }
  }

  @include grid-media($tablet-grid) {
    @include grid-column(6);
  }

  @include grid-media($mobile-grid) {
    @include grid-column(12);
  }

  article {
    height: 75px;
    max-height: 75px;
    padding: 0 20px 0 80px;
    display: flex;
    border: solid 2px #E8E8E8;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    span.name {
      font-size: 20px;
      font-weight: 700;
      color: $black;
    }

    span.learners {
      font-size: 20px;
      font-weight: 100;
      text-align: right;
      color: $black;
    }
  }
}
