.language-card {
  @include grid-column(3);
  @include transition(all 0.2s ease 0s);
  margin-bottom: 10px;
  background: #fff;

  &:hover {
    @include transform(scale(1.01));
  }

  &.selected {
    background: $blue;

    article {
      border-color: $blue;

      span {
        color: #fff !important;
      }
    }
  }

  @include grid-media($tablet-grid) {
    @include grid-column(6);
  }

  @include grid-media($mobile-grid) {
    @include grid-column(12);
  }

  article {
    height: 75px;
    max-height: 75px;
    padding: 0 20px;
    display: flex;
    border: solid 2px #E8E8E8;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    span.name {
      font-size: 20px;
      font-weight: 700;
      padding-right: 35px;
      color: $black;
    }

    span.learners {
      font-size: 20px;
      font-weight: 100;
      color: $black;
    }
  }
}
